.custom-nav{
    height:75px;
    background-color: #347474;
    color:black;
}
.navbar-brand{
    color:#ffcc00;
    font-weight: bold;
    font-size:33px;
}
.nav-item{
    margin-right:50px;
    font-weight: bold;
    padding:1px;
}
.inline-text{
    font-size:14px;
    font-style: italic;
    color:#004445;
}